<% content_for :page_title do %>
  Hello Page: Greetings!
<% end %>

<div class="hello">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>

<div class="goodbye">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>
